[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "external/imgui-node-editor"]
	path = external/imgui-node-editor
	url = https://github.com/dunkbing/imgui-node-editor.git
[submodule "external/imgui_test_engine"]
	path = external/imgui_test_engine
	url = https://github.com/ocornut/imgui_test_engine.git
[submodule "external/cpp-httplib"]
	path = external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "external/tree-sitter"]
	path = external/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "external/tree-sitter-sql"]
	path = external/tree-sitter-sql
	url = https://github.com/DerekStride/tree-sitter-sql.git
	branch = gh-pages
[submodule "external/freetds"]
	path = external/freetds
	url = https://github.com/FreeTDS/freetds.git
