[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "external/imgui-node-editor"]
	path = external/imgui-node-editor
	url = https://github.com/dunkbing/imgui-node-editor.git
[submodule "external/imgui_test_engine"]
	path = external/imgui_test_engine
	url = https://github.com/ocornut/imgui_test_engine.git
[submodule "external/tree-sitter-sql"]
	path = external/tree-sitter-sql
	url = https://github.com/DerekStride/tree-sitter-sql.git
	branch = gh-pages
[submodule "external/freetds"]
	path = external/freetds
	url = https://github.com/FreeTDS/freetds.git
[submodule "external/tree-sitter-json"]
	path = external/tree-sitter-json
	url = https://github.com/tree-sitter/tree-sitter-json.git
[submodule "external/odpi"]
	path = external/odpi
	url = https://github.com/oracle/odpi.git
[submodule "external/csv2"]
	path = external/csv2
	url = https://github.com/p-ranav/csv2
